<div class="container-full margin-0-bottom">
  <div class="grid grid-half grid-large-fifth justify-center hide-before-large">

    <a data-track-gtm="Root - Saving Wildlife and Wild Places|Photo|/our-work/wildlife/elephants"
      class="focus-overlay fill-gold aspect-2-1 cell-full cell-large-two-fifth" href="/our-work/wildlife/elephants">
      <div class="focus-overlay__inner ">
        <span class="focus-overlay__inner__title type-title color-polar">
          ELEPHANTS
        </span>
      </div>
      <img alt="" class="focus-overlay__image"
        src="/assets/wildlife/elephants-7.jpg">
    </a>
    <a data-track-gtm="Root - Saving Wildlife and Wild Places|Photo|/our-work/wildlife/apes"
      class="focus-overlay fill-gold aspect-1-1 cell" href="/our-work/wildlife/apes">
      <div class="focus-overlay__inner ">
        <span class="focus-overlay__inner__title type-title color-polar">
          APES
        </span>
      </div>
      <img alt="" class="focus-overlay__image"
        src="/assets/wildlife/apes.jpg">
    </a>
    <a data-track-gtm="Root - Saving Wildlife and Wild Places|Photo|/our-work/places/africa"
      class="focus-overlay fill-gold aspect-1-1 cell" href="/our-work/places/africa">
      <div class="focus-overlay__inner ">
        <span class="focus-overlay__inner__title type-title color-polar">
          AFRICA
        </span>
      </div>
      <img alt="" class="focus-overlay__image"
        src="/assets/places/africa.jpg">
    </a>
    <a data-track-gtm="Root - Saving Wildlife and Wild Places|Photo|/our-work/wildlife/big-cats"
      class="focus-overlay fill-gold aspect-1-1 cell" href="/our-work/wildlife/big-cats">
      <div class="focus-overlay__inner ">
        <span class="focus-overlay__inner__title type-title color-polar">
          BIG CATS
        </span>
      </div>
      <img alt="" class="focus-overlay__image"
        src="/assets/wildlife/big-cats.jpg">
    </a>
    <a data-track-gtm="Root - Saving Wildlife and Wild Places|Photo|/our-work/wildlife/sharks-skates-rays"
      class="focus-overlay fill-gold aspect-1-1 cell" href="/our-work/wildlife/sharks-skates-rays">
      <div class="focus-overlay__inner ">
        <span class="focus-overlay__inner__title type-title color-polar">
          SHARKS, SKATES, and RAYS
        </span>
      </div>
      <img alt="" class="focus-overlay__image"
        src="/assets/wildlife/sharks-skates-rays.jpg">
    </a>
    <a data-track-gtm="Root - Saving Wildlife and Wild Places|Photo|/our-work/places/latin-america"
      class="focus-overlay fill-gold aspect-1-1 cell" href="/our-work/places/latin-america">
      <div class="focus-overlay__inner ">
        <span class="focus-overlay__inner__title type-title color-polar">
          LATIN AMERICA and THE CARIBBEAN
        </span>
      </div>
      <img alt="" class="focus-overlay__image"
        src="/assets/places/latin-america.jpg">
    </a>
    <div class="cell-full cell-large-two-fifth pad-3 align-center flex-middle">
      <div class="container-extra-small">
        <p class="type-base line-height-standard">
          By harnessing the power of its global field conservation programs and its four zoos and aquarium in New York,
          WCS aims to make measurable progress in the conservation of the flagship species groups pictured and its
          priority places.
        </p>
        <a data-track-gtm="Root - Saving Wildlife and Wild Places|Mission Statement|Learn More"
          class="btn fill-gold color-polar margin-2-top" href="/our-work/wildlife">Learn More</a>
      </div>

    </div>

    <a data-track-gtm="Root - Saving Wildlife and Wild Places|Photo|/our-work/places/asia"
      class="focus-overlay fill-gold aspect-1-1 cell" href="/our-work/places/asia">
      <div class="focus-overlay__inner ">
        <span class="focus-overlay__inner__title type-title color-polar">
          ASIA
        </span>
      </div>
      <img alt="" class="focus-overlay__image"
        src="/assets/places/asia.jpg">
    </a>
    <a data-track-gtm="Root - Saving Wildlife and Wild Places|Photo|/our-work/places/north-america"
      class="focus-overlay fill-gold aspect-1-1 cell" href="/our-work/places/north-america">
      <div class="focus-overlay__inner ">
        <span class="focus-overlay__inner__title type-title color-polar">
          NORTH AMERICA
        </span>
      </div>
      <img alt="" class="focus-overlay__image"
        src="/assets/places/north-america.jpg">
    </a>
    <a data-track-gtm="Root - Saving Wildlife and Wild Places|Photo|/our-work/wildlife/whales-coastal-dolphins"
      class="focus-overlay fill-gold aspect-2-1 cell-full cell-large-two-fifth"
      href="/our-work/wildlife/whales-coastal-dolphins">
      <div class="focus-overlay__inner ">
        <span class="focus-overlay__inner__title type-title color-polar">
          WHALES and COASTAL DOLPHINS
        </span>
      </div>
      <img alt="" class="focus-overlay__image"
        src="/assets/wildlife/whales-coastal-dolphins.jpg">
    </a>
    <a data-track-gtm="Root - Saving Wildlife and Wild Places|Photo|/our-work/places/oceans"
      class="focus-overlay fill-gold aspect-1-1 cell" href="/our-work/places/oceans">
      <div class="focus-overlay__inner ">
        <span class="focus-overlay__inner__title type-title color-polar">
          OCEANS
        </span>
      </div>
      <img alt="" class="focus-overlay__image"
        src="/assets/places/oceans.jpg">
    </a>
    <a data-track-gtm="Root - Saving Wildlife and Wild Places|Photo|/our-work/wildlife/tortoises-freshwater-turtles"
      class="focus-overlay fill-gold aspect-1-1 cell" href="/our-work/wildlife/tortoises-freshwater-turtles">
      <div class="focus-overlay__inner ">
        <span class="focus-overlay__inner__title type-title color-polar">
          TORTOISES and FRESHWATER TURTLES
        </span>
      </div>
      <img alt="" class="focus-overlay__image"
        src="/assets/wildlife/tortoises-freshwater-turtles.jpg">
    </a>
  </div>
  <div class="grid align-center hide-large">
    <div class="cell-full cell-medium-half flex-middle pad-4">
      <div class="container-extra-small">
        <p class="type-base line-height-standard">
          By harnessing the power of its global field conservation programs and its four zoos and aquarium in New York,
          WCS aims to make measurable progress in the conservation of a number of flagship species groups and priority
          places.
        </p>
        <a data-track-gtm="Root - Saving Wildlife and Wild Places|Mission Statement|Learn More"
          class="btn-fill-link fill-gold color-polar margin-2-top" href="/our-work/wildlife">Learn More</a>
      </div>

    </div>
    <div class="cell-medium-half hide-before-medium">
      <img alt="" class="image-fluid"
        src="/assets/wildlife/elephants.jpg">
    </div>
  </div>
</div>