<footer class="footer fill-footer fill-paper pad-4-vertical">
  <nav class="container-full type-menu">
    <ul class="list-inline list-links align-center">
      <li><a class="pad-2" data-track-gtm="Footer|Contact" href="/about-us/offices">Contact</a></li>
      <li><a class="pad-2" data-track-gtm="Footer|Membership" href="/buy-membership">Membership</a></li>
      <li><a class="pad-2" data-track-gtm="Footer|Our Science"
          href="https://library.wcs.org/Scientific-Research/Research-Publications/Staff-Bibliography.aspx">Our
          Science</a></li>
      <li><a class="pad-2" data-track-gtm="Footer|Country Programs" href="/our-work/places#countries">Country
          Programs</a></li>
    </ul>
  </nav>

  <hr class="divided color-highlight" aria-hidden="true">

  <div class="container align-center margin-4-vertical color-copy">
    <a class="tile-social align-center radius-large inline-block pt-25" data-track-gtm="Footer|Facebook"
      href="https://www.facebook.com/TheWCS">
      <i class="fa fa-facebook fa-3x"></i>
      <p class="tile-label color-neutral margin-1-bottom">
        Facebook
      </p>
    </a>
    <a class="tile-social align-center radius-large inline-block pt-25" data-track-gtm="Footer|Twitter"
      href="https://twitter.com/thewcs">
      <i class="fa fa-twitter fa-3x"></i>
      <p class="tile-label color-neutral margin-1-bottom">
        Twitter
      </p>
    </a>
    <a class="tile-social align-center radius-large inline-block pt-25" data-track-gtm="Footer|Instagram"
      href="https://instagram.com/thewcs">
      <i class="fa fa-instagram fa-3x"></i>
      <p class="tile-label color-neutral margin-1-bottom">
        Instagram
      </p>
    </a>
    <a class="tile-social align-center radius-large inline-block pt-25" data-track-gtm="Footer|YouTube"
      href="https://www.youtube.com/user/WCSMedia">
      <i class="fa fa-youtube-play fa-3x"></i>
      <p class="tile-label color-neutral margin-1-bottom">
        Youtube
      </p>
    </a>
  </div>

  <nav class="container color-footer-nav align-center type-small margin-4-vertical">
    <ul class="list-inline list-links">
      <li><a class="pad-2" data-track-gtm="Footer|Terms of Use" href="https://www.wcs.org/terms-of-use">Terms of Use</a>
      </li>
      <li><a class="pad-2" data-track-gtm="Footer|Privacy Policy" href="https://www.wcs.org/privacy-policy">Privacy
          Policy</a></li>
      <li><a class="pad-2" data-track-gtm="Footer|Children’s Privacy Policy"
          href="https://www.wcs.org/childrens-privacy-policy">Children’s Privacy Policy</a></li>
      <li><a class="pad-2" data-track-gtm="Footer|Charitable Solicitation Statement"
          href="https://www.wcs.org/charitable-solicitation-statement">Charitable Solicitations</a></li>
      <li><a class="pad-2" data-track-gtm="Footer|Other Legal Topics" href="https://www.wcs.org/legal">Other Legal
          Topics</a></li>
    </ul>
  </nav>

  <div class="container color-neutral pad-2-left pad-2-right type-small align-center">
    <p>©2019 Wildlife Conservation Society</p>
    <p class="type-small margin-1-bottom">
      WCS, the “W” logo, WE STAND FOR WILDLIFE, I STAND FOR WILDLIFE, and STAND FOR WILDLIFE are service marks of
      Wildlife Conservation Society.
    </p>
    <div class="margin-1-vertical">
      <div class="hide-visually">Contact Information</div>
      <span class="hide-visually">Address: </span>2300 Southern Boulevard Bronx, New York 10460
      <a href="tel:+17182205100">
        <span class="hide-visually">Phone Number: </span>(718) 220-5100
      </a>
    </div>
  </div>
</footer>