<div id="homepage-hero">

  <div id="" class="page-hero relative -form -dark">
    <div class="page-hero__media aspect-16-9"
      style="background-image: url('../../../assets/wildlife/North_American_Beaver.jpg')">
    </div>
    <div class="page-hero__html align-center text-shadow-1">
      <div>
        <h1 class="type-headline text-shadow-2">
          <p>Science Rules</p>
        </h1>
        <p>
          Behind all great wildlife conservation is great science. WCS publishes nearly 300 peer-reviewed studies a
          year. To shed more light on this work, we've launched 3-Sentence Science.
        </p>
        <a class="btn btn-large fill-callout shadow-2" data-track-gtm="Home|Hero Button Click"
          href="https://newsroom.wcs.org/WCS-3-Sentence-Science.aspx">Read More</a>
      </div>
    </div>
  </div>

</div>