<div class="story -dark  -overlay -background-image relative margin-standard-bottom -column "
[style.background-image]="story.image">

<div class="story__inner">
  <div class="story__inner__content">
    <div class="story__inner__content__accent"></div>
    <div class="flex margin-1-bottom">
      <span class="story__inner__content__label type-caption">{{story.subText}}</span>
    </div>
    <h2 class="story__inner__content__headline type-headline">
      <a data-track-gtm="Root - Saving Wildlife and Wild Places|Story|Thriving in Tanzania"
        href="https://www.wcs.org/get-involved/updates/translocated-zebras-are-flourishing">{{story.header}}</a>
    </h2>
    <p class="story__inner__content__text margin-1-top">
      {{story.content}}
    </p>
    <a data-track-gtm="Root - Saving Wildlife and Wild Places|Story|Thriving in Tanzania"
      class="btn fill-callout margin-2-top"
      href="https://www.wcs.org/get-involved/updates/translocated-zebras-are-flourishing">{{story.cta}}</a>
  </div>
</div>
</div>