<div class="display-flex">
  <div class="updates-image-list__img" aria-hidden="true">
    <a data-track-gtm="Root - Saving Wildlife and Wild Places|News List|Fishery on the Brink" href="https://news.mongabay.com/2019/03/fishery-on-the-brink-the-fight-to-save-the-nassau-grouper/">
      <img alt="" class="block radius-circle" [src]="news.image">
    </a>
  </div>
  <div class="updates-image-list__text pad-2-left">
    <div class="updates-image-list__text__date color-primary margin-1-bottom">
      {{news.date}}
        <span class="pad-1-horizontal"> | </span> <span class="type-emphasized">{{news.subText}}</span>
    </div>
    <h2 class="updates-image-list__text__headline margin-1-bottom">
      <a data-track-gtm="Root - Saving Wildlife and Wild Places|News List|Fishery on the Brink" 
          href="https://news.mongabay.com/2019/03/fishery-on-the-brink-the-fight-to-save-the-nassau-grouper/">
        {{news.heading}}
      </a>
    </h2>
    <p class="updates-image-list__text__description">
      {{news.content}}
    </p>
    <div class="margin-2-top">
      <a data-track-gtm="Root - Saving Wildlife and Wild Places|News List|Fishery on the Brink" 
      class="type-caption color-link" 
      href="https://news.mongabay.com/2019/03/fishery-on-the-brink-the-fight-to-save-the-nassau-grouper/">
        Read the story
      </a>
    </div>
  </div>
</div>