<div class="contribute__signup bordered-top">
  <div class="container-small align-center pad-4-horizontal pad-6-top">
    <h2 class="type-caption color-gold">
      Stand for Wildlife
    </h2>
    <p class="margin-3-top">
      Join more than one million wildlife lovers working to save the Earth's most
      treasured and threatened species.
    </p>


    <form class="email-signup container-extra-small flex justify-center flex-wrap margin-2-top margin-6-bottom"
      data-js-action="/email_signups" data-js-persistent="false" data-js-location="Footer" action="/email_signups"
      accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden"
        name="authenticity_token"
        value="rzeb2rBewj0vQPVEQjRyouoDaUcaS/OQNWGJcApHl1InlVoz/lyIi+Ut+t7F+gV07FAr3FPg7yKPNKpCkN2SDQ==">

      <input type="hidden" name="form_id" value="512">
      <input type="hidden" name="cid" value="7010W000002X4JaQAK">
      <input type="hidden" name="ms" value="M_WEB_ACQ_01_F07_1800-wcs-footer-signup">
      <input type="hidden" name="private" value="1">

      <div class="email-signup-form ">
        <label for="newsletter-email-footer" class="hide-visually">Email Address</label>
        <input id="newsletter-email-footer"
          class="input-text align-center-small margin-1-right margin-2-top type-sans flex-grow" name="mail" type="email"
          placeholder="Email Address" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required="">

        <button type="submit" class="btn fill-headline align-top margin-2-top">
          Subscribe
        </button>
      </div>

      <div class="hide" data-email-signup-error="">
        <p class="margin-2 fill-polar color-rose border-radius-6 border-2-rose align-left">
          <span class="pad-1-horizontal"><svg class="icon " height="18" width="18" viewBox="0 0 18 18"
              aria-hidden="true">
              <use xlink:href="#icon-alert"></use>

              <rect x="0" y="0" width="18" height="18" fill="transparent"></rect>
            </svg>
          </span>
          <span class="pad-1-horizontal" data-email-signup-error-message="">An unexpected error has occurred. Please
            refresh the page.</span>
        </p>
      </div>

      <div class="email-signup__message">
        Thanks for signing up!
      </div>
    </form>

    <img alt="" class="block margin-center margin-4-vertical" height="200" width="200"
      src="/assets/wildlife/email-signup-tiger.jpg">
  </div>
</div>